@font-face {
  font-family: Dicier-Block-Heavy;
  src: url('../../fonts/Dicier-Block-Heavy.woff2'), url('../../fonts/Dicier-Block-Heavy.woff');
}

.dicier-block-heavy {
  font-family: Dicier-Block-Heavy, sans-serif;
}