@font-face {
  font-family: Dicier-Round-Dark;
  src: url('../../fonts/Dicier-Round-Dark.woff2');
}

.dicier {
  font-family: Dicier-Round-Dark, sans-serif;
  font-feature-settings: “liga” 1, “kern” 1, “calt” 1;
}