@font-face {
  font-family: Dicier-Flat-Light;
  src: url('../../fonts/Dicier-Flat-Light.woff2'), url('../../fonts/Dicier-Flat-Light.woff');
}

.dicier-flat-light {
  font-family: Dicier-Flat-Light, sans-serif;
}