@font-face {
  font-family: Dicier-Round-Heavy;
  src: url('../../fonts/Dicier-Round-Heavy.woff2'), url('../../fonts/Dicier-Round-Heavy.woff');
}

.dicier-round-heavy {
  font-family: Dicier-Round-Heavy, sans-serif;
}