@font-face {
  font-family: Dicier-Round-Light;
  src: url('../../fonts/Dicier-Round-Light.woff2'), url('../../fonts/Dicier-Round-Light.woff');
}

.dicier-round-light {
  font-family: Dicier-Round-Light, sans-serif;
}