@font-face {
  font-family: Dicier-Block-Dark;
  src: url('../../fonts/Dicier-Block-Dark.woff2'), url('../../fonts/Dicier-Block-Dark.woff');
}

.dicier-block-dark {
  font-family: Dicier-Block-Dark, sans-serif;
}