@font-face {
  font-family: Dicier-Flat-Dark;
  src: url('../../fonts/Dicier-Flat-Dark.woff2'), url('../../fonts/Dicier-Flat-Dark.woff');
}

.dicier-flat-dark {
  font-family: Dicier-Flat-Dark, sans-serif;
}